@{
    ViewBag.Title = "Diary";
}

<div class="container">
    <div class="row">
        <div class="col-md-9">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-3" style="margin-top: 30px">
            <div style="background-color: red; color: white; padding: 1px; font-size: large">
                Tags
            </div>
            @foreach (Diary.Models.Tag tag in ViewBag.Tags)
            {
                <p>@tag.TagName</p>
            }
        </div>
    </div>
</div>